* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25em;
}

.header {
    background: linear-gradient(90deg, rgba(0,0,205,1) 20%, rgba(0,0,128,1) 100%);
    padding: 20px;
    color: white;
    position: sticky;
    text-align: right;
}

h2 {
    width: 20%;
    margin-left: 10px;
    margin-bottom: 5px;
}

#search-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 10px;
}

#search-input {
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid gray;
}

button {
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #4f86f7;
    color: lightgray;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #87cefa;
    cursor: pointer;
}